body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media (max-width: 600px) {
  body {
    width: 100%;
    height: 337px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body {
    width: 768px;
    height: 432px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    width: 992px;
    height: 558px;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1200px;
    height: 675px;
  }
}
body * {
  box-sizing: border-box !important;
}
body button:hover {
  background-color: darkgrey;
  color: white;
}
body img {
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}
body #intro__area, body #player__area, body #rule__area, body #game__area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding-top: 10px;
}
body #intro__area > h1 {
  color: black;
  text-align: center;
}
body #intro__area > h4 {
  color: black;
  text-align: center;
}
body #create__player {
  margin-bottom: 10px;
}
body #player__area {
  padding-top: 0;
}
body #p1name, body #p2name {
  display: inline;
  align-content: space-evenly;
  margin-right: 5px;
}
body #p1name__submit {
  align-content: space-evenly;
  margin-right: 40px;
}
body .break {
  margin: 10px;
}
body #to__rules {
  flex-wrap: wrap;
  align-self: flex-end;
  margin-bottom: 10px;
}
body #rule__area {
  padding-top: 0;
}
body #rule__area > h1 {
  margin-top: 10px;
}
body #to__game {
  flex-wrap: wrap;
  align-self: flex-end;
  margin-bottom: 10px;
}
body #game__area {
  display: grid;
  grid-template-areas: "player1 startBtn player2";
  width: 100%;
  padding-top: 0;
}
body #player1__screen {
  grid-area: player1;
  display: grid;
  grid-template-areas: "score score score" "redC greenC blueC" "hit1 hit2 hit3" "player player player";
  width: auto;
  height: auto;
  flex: auto;
  border: 1px solid red;
  gap: 1em;
  margin: 1em;
  padding: 10px;
}
body #score1 {
  grid-area: score;
  align-content: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  font-size: 2rem;
}
body #player1__name {
  grid-area: player;
  border-top: 2px solid black;
  align-content: center;
  padding-top: 10px;
  font-size: 2rem;
}
body #red1, body #green1, body #blue1, body #red2, body #green2, body #blue2 {
  border: none;
  width: 100%;
  height: 100%;
  align-self: center;
}
body #red1 {
  grid-area: redC;
  max-width: 100%;
}
body #green1 {
  grid-area: greenC;
  max-width: 100%;
}
body #blue1 {
  grid-area: blueC;
  max-width: 100%;
}
body #q1 {
  grid-area: hit1;
  text-align: center;
}
body #w1 {
  grid-area: hit2;
  text-align: center;
}
body #e1 {
  grid-area: hit3;
  text-align: center;
}
body #player2__screen {
  grid-area: player2;
  display: grid;
  grid-template-areas: "score score score" "redC greenC blueC" "hit1 hit2 hit3" "player player player";
  width: auto;
  height: auto;
  flex: auto;
  border: 1px solid forestgreen;
  gap: 1em;
  margin: 1em;
  padding: 10px;
}
body #score2 {
  grid-area: score;
  align-content: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  font-size: 2rem;
}
body #player2__name {
  grid-area: player;
  border-top: 2px solid black;
  align-content: center;
  padding-top: 10px;
  font-size: 2rem;
}
body #red2 {
  grid-area: redC;
  max-width: 100%;
}
body #green2 {
  grid-area: greenC;
  max-width: 100%;
}
body #blue2 {
  grid-area: blueC;
  max-width: 100%;
}
body #left2 {
  grid-area: hit1;
  text-align: center;
}
body #up2 {
  grid-area: hit2;
  text-align: center;
}
body #right2 {
  grid-area: hit3;
  text-align: center;
}
body #start__game {
  grid-area: startBtn;
  font-size: 2rem;
  width: content-box;
  border: 1px solid darkorange;
}

/*# sourceMappingURL=main.css.map */
