@import url("http://fonts.cdnfonts.com/css/barcade");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
  font-family: "Barcade no bar", sans-serif;
  /* The Modal (background) */
  /* Modal Content/Box */
  /* The Close Button */
}
@media (max-width: 600px) {
  body {
    width: 100%;
    height: 337px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body {
    width: 768px;
    height: 432px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    width: 992px;
    height: 558px;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1200px;
    height: 675px;
  }
}
body * {
  box-sizing: border-box !important;
}
body button:hover {
  background-color: lightgrey;
  color: black;
}
body .animate__animated {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
body img {
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}
body #intro__area, body #player__area, body #rule__area, body #game__area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding-top: 10px;
  width: 100%;
  height: auto;
}
body #intro__area > h1 {
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  font-family: "Barcade", sans-serif;
  margin-top: 0;
  transform: translate(0, -450%);
}
body #intro__area > h4 {
  color: whitesmoke;
  text-align: center;
  font-family: "Barcade no bar", sans-serif;
  transform: translate(0, -800%);
}
body #create__player {
  margin-bottom: 10px;
  font-family: "Barcade no bar", sans-serif;
  font-size: 1rem;
  transform: translate(0, -500%);
}
body #player__area {
  padding-top: 0;
  justify-content: space-between;
}
body #p1name, body #p2name {
  display: inline;
  align-content: space-between;
  font-family: "Barcade no bar", sans-serif;
  font-size: 1rem;
  transform: translate(0, -250%);
}
body #p1name {
  margin-right: 30px;
}
body .break {
  margin: 10px;
}
body #to__rules {
  flex-wrap: wrap;
  align-self: flex-end;
  margin-bottom: 10px;
  font-family: "Barcade no bar", sans-serif;
  font-size: 1rem;
  transform: translate(0, -150%);
}
body #rule__area {
  color: whitesmoke;
  text-align: center;
  padding: 20px;
  font-family: "Barcade no bar", sans-serif;
  font-size: 2rem;
}
body #rule__area > h1 {
  margin-top: 20px;
  font-family: "Barcade", sans-serif;
  font-size: 3rem;
}
body #to__game {
  flex-wrap: wrap;
  align-self: flex-end;
  margin-bottom: 10px;
  font-family: "Barcade no bar", sans-serif;
  font-size: 1rem;
}
body #game__area {
  display: grid;
  grid-template-areas: "player1 startBtn player2";
  width: 100%;
  padding-top: 0;
}
body #player1__screen {
  grid-area: player1;
  display: grid;
  grid-template-areas: "score score score" "redC greenC blueC" "hit1 hit2 hit3" "player player player";
  width: 100%;
  height: min-content;
  flex: auto;
  border: 1px dashed red;
  gap: 1em;
  margin: 1em;
  padding: 10px;
}
body #score1 {
  grid-area: score;
  align-content: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  font-size: 2rem;
  color: whitesmoke;
  font-family: "Barcade", sans-serif;
}
body #player1__name {
  grid-area: player;
  border-top: 2px solid black;
  align-content: center;
  font-size: 2rem;
  color: whitesmoke;
  font-family: "Barcade", sans-serif;
}
body #red1, body #green1, body #blue1, body #red2, body #green2, body #blue2 {
  border: none;
  width: 100%;
  height: 100%;
  align-self: center;
}
body #red1 {
  grid-area: redC;
  max-width: 100%;
}
body #green1 {
  grid-area: greenC;
  max-width: 100%;
}
body #blue1 {
  grid-area: blueC;
  max-width: 100%;
}
body #q1 {
  grid-area: hit1;
  text-align: center;
  background-color: red;
  font-size: 2rem;
  color: white;
  font-family: "Barcade no bar", sans-serif;
}
body #w1 {
  grid-area: hit2;
  text-align: center;
  background-color: forestgreen;
  font-size: 2rem;
  color: white;
  font-family: "Barcade no bar", sans-serif;
}
body #e1 {
  grid-area: hit3;
  text-align: center;
  background-color: cornflowerblue;
  font-size: 2rem;
  color: white;
  font-family: "Barcade no bar", sans-serif;
}
body #player2__screen {
  grid-area: player2;
  display: grid;
  grid-template-areas: "score score score" "redC greenC blueC" "hit1 hit2 hit3" "player player player";
  width: 100%;
  height: min-content;
  flex: auto;
  border: 1px dashed forestgreen;
  gap: 1em;
  margin: 1em;
  padding: 10px;
}
body #score2 {
  grid-area: score;
  align-content: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  font-size: 2rem;
  color: whitesmoke;
  font-family: "Barcade", sans-serif;
}
body #player2__name {
  grid-area: player;
  border-top: 2px solid black;
  align-content: center;
  font-size: 2rem;
  color: whitesmoke;
  font-family: "Barcade", sans-serif;
}
body #red2 {
  grid-area: redC;
  max-width: 100%;
}
body #green2 {
  grid-area: greenC;
  max-width: 100%;
}
body #blue2 {
  grid-area: blueC;
  max-width: 100%;
}
body #left2 {
  grid-area: hit1;
  text-align: center;
  background-color: red;
  font-size: 2rem;
  color: white;
  font-family: "Barcade no bar", sans-serif;
}
body #up2 {
  grid-area: hit2;
  text-align: center;
  background-color: forestgreen;
  font-size: 2rem;
  color: white;
  font-family: "Barcade no bar", sans-serif;
}
body #right2 {
  grid-area: hit3;
  text-align: center;
  background-color: cornflowerblue;
  font-size: 2rem;
  color: white;
  font-family: "Barcade no bar", sans-serif;
}
body #start__game {
  grid-area: startBtn;
  font-size: 2rem;
  width: 7rem;
  border: 1px solid darkorange;
  font-family: "Barcade no bar", sans-serif;
}
body .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
body .modal-content {
  background-color: whitesmoke;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 10px;
  border: 1px dashed seagreen;
  width: 100%;
  /* Could be more or less, depending on screen size */
  text-align: center;
  box-sizing: content-box;
  font-size: 3rem;
}
body .modal-content #declare {
  font-size: 7rem;
}
body .close {
  color: whitesmoke;
  align-self: flex-end;
  font-size: 7rem;
}
body .close:hover,
body .close:focus {
  color: whitesmoke;
  cursor: pointer;
  font-size: 7rem;
}

/*# sourceMappingURL=main.css.map */
