@import url('http://fonts.cdnfonts.com/css/barcade');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
  font-family: "Barcade no bar", sans-serif;

  @media(max-width: 600px) {
    width: 100%;
    height: 337px;
  }

  @media(min-width: 768px) and (max-width: 992px) {
    width: 768px;
    height: 432px;
  }

  @media(min-width: 992px) and (max-width: 1200px) {
    width: 992px;
    height: 558px;
  }

  @media(min-width: 1200px) {
    width: 1200px;
    height: 675px;
  }

  * {
    box-sizing: border-box !important;
  }

  button:hover {
    background-color: lightgrey;
    color: black;
  }

  .animate__animated{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  img {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
  }

  #intro__area, #player__area, #rule__area, #game__area {;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding-top: 10px;
    width: 100%;
    height: auto;
  }

  #intro__area > h1 {
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-family: "Barcade", sans-serif;
    margin-top: 0;
    transform: translate(0,-450%);
  }

  #intro__area > h4 {
    color: whitesmoke;
    text-align: center;
    font-family: "Barcade no bar", sans-serif;
    transform: translate(0,-800%);
  }

  #create__player {
    margin-bottom: 10px;
    font-family: "Barcade no bar", sans-serif;
    font-size: 1rem;
    transform: translate(0,-500%)
  }

  #player__area{
    padding-top: 0;
    justify-content: space-between;
  }

  #p1name, #p2name {
    display: inline;
    align-content: space-between;
    font-family: "Barcade no bar", sans-serif;
    font-size: 1rem;
    transform: translate(0,-250%);
  }

  #p1name {
    margin-right: 30px;
  }

  .break {
    margin: 10px
  }

  #to__rules {
    flex-wrap: wrap;
    align-self: flex-end;
    margin-bottom: 10px;
    font-family: "Barcade no bar", sans-serif;
    font-size: 1rem;
    transform: translate(0,-150%);
  }

  #rule__area {
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    font-family: "Barcade no bar", sans-serif;
    font-size: 2rem;
  }

  #rule__area > h1{
    margin-top: 20px;
    font-family: "Barcade", sans-serif;
    font-size: 3rem;
  }

  #to__game {
    flex-wrap: wrap;
    align-self: flex-end;
    margin-bottom: 10px;
    font-family: "Barcade no bar", sans-serif;
    font-size: 1rem;
  }

  #game__area{
    display: grid;
    grid-template-areas:
    "player1 startBtn player2";
    width: 100%;
    padding-top: 0;
  }

  #player1__screen {
    grid-area: player1;
    display: grid;
    grid-template-areas:
    "score score score"
    "redC greenC blueC"
    "hit1 hit2 hit3"
    "player player player";
    width: 100%;
    height: min-content;
    flex: auto;
    border: 1px dashed red;
    gap: 1em;
    margin: 1em;
    padding: 10px
  }

  #score1 {
    grid-area: score;
    align-content: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    font-size: 2rem;
    color: whitesmoke;
    font-family: "Barcade", sans-serif;
  }

  #player1__name {
    grid-area: player;
    border-top: 2px solid black;
    align-content: center;
    font-size: 2rem;
    color: whitesmoke;
    font-family: "Barcade", sans-serif;
  }

  #red1, #green1, #blue1, #red2, #green2, #blue2 {
    border: none;
    width: 100%;
    height: 100%;
    align-self: center;
  }

  #red1 {
    grid-area: redC;
    max-width: 100%;
  }

  #green1 {
    grid-area: greenC;
    max-width: 100%;
  }

  #blue1 {
    grid-area: blueC;
    max-width: 100%;
  }

  #q1 {
    grid-area: hit1;
    text-align: center;
    background-color: red;
    font-size: 2rem;
    color: white;
    font-family: "Barcade no bar", sans-serif;
  }

  #w1 {
    grid-area: hit2;
    text-align: center;
    background-color: forestgreen;
    font-size: 2rem;
    color: white;
    font-family: "Barcade no bar", sans-serif;
  }

  #e1 {
    grid-area: hit3;
    text-align: center;
    background-color: cornflowerblue;
    font-size: 2rem;
    color: white;
    font-family: "Barcade no bar", sans-serif;
  }

  #player2__screen {
    grid-area: player2;
    display: grid;
    grid-template-areas:
    "score score score"
    "redC greenC blueC"
    "hit1 hit2 hit3"
    "player player player";
    width: 100%;
    height: min-content;
    flex: auto;
    //align-content: space-around;
    border: 1px dashed forestgreen;
    gap: 1em;
    margin: 1em;
    padding: 10px
  }

  #score2 {
    grid-area: score;
    align-content: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    font-size: 2rem;
    color: whitesmoke;
    font-family: "Barcade", sans-serif;
  }

  #player2__name {
    grid-area: player;
    border-top: 2px solid black;
    align-content: center;
    font-size: 2rem;
    color: whitesmoke;
    font-family: "Barcade", sans-serif;
  }

  #red2 {
    grid-area: redC;
    max-width: 100%;
  }

  #green2 {
    grid-area: greenC;
    max-width: 100%;
  }

  #blue2 {
    grid-area: blueC;
    max-width: 100%;
  }

  #left2 {
    grid-area: hit1;
    text-align: center;
    background-color: red;
    font-size: 2rem;
    color: white;
    font-family: "Barcade no bar", sans-serif;
  }

  #up2 {
    grid-area: hit2;
    text-align: center;
    background-color: forestgreen;
    font-size: 2rem;
    color: white;
    font-family: "Barcade no bar", sans-serif;
  }

  #right2 {
    grid-area: hit3;
    text-align: center;
    background-color: cornflowerblue;
    font-size: 2rem;
    color: white;
    font-family: "Barcade no bar", sans-serif;
  }

  #start__game {
    grid-area: startBtn;
    font-size: 2rem;
    width: 7rem;
    border: 1px solid darkorange;
    font-family: "Barcade no bar", sans-serif;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    //z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: whitesmoke;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px dashed seagreen;
    width: 100%; /* Could be more or less, depending on screen size */
    text-align: center;
    box-sizing: content-box;
    font-size: 3rem
  }
  .modal-content #declare{
    font-size: 7rem;
  }

  /* The Close Button */
  .close {
    color: whitesmoke;
    align-self: flex-end;
    font-size: 7rem;
  }

  .close:hover,
  .close:focus {
    color: whitesmoke;
    cursor: pointer;
    font-size: 7rem;
  }
}